DB_HOST=localhost
DB_NAME=db_name
DB_USER=db_user
DB_PASS=db_password
DB_PORT=5432

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET= # Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32

GOOGLE_ID=
GOOGLE_SECRET=

EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=App Asesores <noreply@appasesores.com>

#APPLE_ID=
#APPLE_TEAM_ID=
#APPLE_PRIVATE_KEY=
#APPLE_KEY_ID=

#AUTH0_ID=
#AUTH0_SECRET=
#AUTH0_ISSUER=

#FACEBOOK_ID=
#FACEBOOK_SECRET=

#GITHUB_ID=
#GITHUB_SECRET=

#TWITTER_ID=
#TWITTER_SECRET=

#Use in case no DB is set. It will save in memory the required fields to make nextauth work.
#DATABASE_URL=sqlite://localhost/:memory:?synchronize=true